<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gms.permission.BIND_DATA_LAYER_SERVICE" />

    <uses-feature android:name="android.hardware.type.watch" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <receiver android:name=".WearableBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.cerverica.LOGOUT" />
                <action android:name="com.example.cerverica.SINC" />
                <action android:name="com.example.cerverica.CHECK" />
                <action android:name="com.example.cerverica.INFO" />
                <action android:name="com.example.cerverica.NOTIFICATIONS" />
                <action android:name="com.example.cerverica.FIRE_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <service
            android:name=".WearableService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.REQUEST_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.CHANNEL_EVENT" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/prefix" />
            </intent-filter>
        </service>
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InicioActivity" />
        <activity android:name=".CuentaActivity" />
        <activity android:name=".NotificationActivity" />
    </application>

</manifest>